<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color:rgb(38, 87, 87)">
  
  <br>

    <center><b><h1 class="navbar-brand" style="color:aliceblue">Registro de estudiantes</h1></b></center>

<center>
  <div class="card" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2017/03/21/02/00/user-2160923_960_720.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bienvenido</h5>
    <p class="card-text">Si ya posee una cuenta inicie sesion si no cree una cuenta</p>
    {{!-- <a href="" class="btn btn-primary">Go somewhere</a> --}}
         <a href="/login" class="btn btn-secondary">Iniciar sesion</a>
     <a href="/register" class="btn btn-secondary">Registrar</a>
  </div>
</div>
</center>

</body>
</html>
